.mode-container{
    @include alignfull;
    position: fixed;
    top: 5%;
    right: 3%;

    button{
        padding: 0.2em;
        border-radius: 10px;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        svg{
            width: 35px;
        }
    }

    button:hover{
        cursor: pointer;
    }
}

// Javascript Toggle Classes
.dark-mode-on{
    background: #434343;
    color: #fff;

    .about-rootree{
        .rootree-profile{
            li:first-child{
                color: #fff; 
            }
             li a{
                color: #fff;
            }
        }
    }

    .rootre-title{
        .btn-grp{
            .btn{
                background: none;
                border: 1px solid #fff;
                transition: 0.5s ease;
            }

            .btn:hover{
                background: #fff;
                a{
                    color: #434343;
                }
            }

            .btn:nth-child(2):hover{
                a{
                    content: url('https://img.icons8.com/ios-filled/10/000000/expand-arrow--v1.png');
                }
            }

            .dots{
                a{
                    content: url('https://img.icons8.com/material-rounded/24/ffffff/dots-loading--v3.png');
                }
            }
        }
    }

    button{
        background: #fff;
        border: none;
    }

    .post-tagged-container{
        ul li a, svg{
            fill: #fff;
            color: #fff;
        }
    }

    .footer-bar{
        a p, select, p{
            color: rgb(207, 207, 207);
        }
    }
}