header{
    background: #fff;
    border-top: 1px solid rgb(224, 224, 224);
    border-bottom: 1px solid rgb(224, 224, 224);
    nav{
        max-width: 935px;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            width: 20%;
            padding: 0;

            li{
                position: relative;
            }

            li:last-child a img{
                border-radius: 50%;
            }

            li:first-child:after{
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background: red;
            
                position: absolute;
                top: 105%;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                margin-top: 0.2em
            }
        }

        // Input Field
        .nav-search{
            position: fixed;
            left: 0;
            bottom: 0;
            z-index: 99;

            width: 100%;

            .search-con{
                display: flex;
                justify-content: center;
                align-items:center;
                background: #fff;
                padding: 0.5em 0;
                .input-container{
                    width: 50%;

                    input[type="text"]{
                        width: 100%;
                        padding: 12px 20px;
                        border: 1px solid #434343;
                        border-radius: 10px;
                        // background: #cfcfcf;
                    }
                    
                    ::placeholder{
                        color: #434343;
                    }
                }
            }
        }
    }
}
