.container{
    max-width: 935px;
    margin: 0 auto;
    // background: red;

    .profile-header, .post-follows, .post, .rootre-title{
        display: flex;
    }

    .rootre-title{
        align-items: center;

        .btn-grp{
            width: 35%;

            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-items: center;
            margin-left: 1.2em;

            .btn{
                background: rgb(0, 144, 246);
                border-radius: 5px;
            }

            .btn:first-child{
                font-size: 0.95rem;
                padding: 0.5em 2em;
                a{
                    color: #fff;
                    font-weight: 400;
                }
            }

            .btn:nth-child(2){
                padding: 0.45em 0.8em;
            }
        }
    }

    .profile-header{

        justify-content: baseline;
        padding: 1em 0;
        .content-first-block{
            width: 40%;

            img{
                width: 60%;
            }
        }

        .content-second-block{
            width: 70%;

            .margin-header{
                margin-bottom: 2em;
            }

            p{
                margin: 0;
                font-size: 1.125em;
            }

            .post-follows{
                width: 60%;
                justify-content: space-between;

                p:first-child{
                    font-weight: 600;
                }

                p:last-child{
                    margin-left: 0.35em;
                }
            }

        }
    }

    .about-rootree ul{
        padding: 0;
        li{
            text-decoration: none;
            list-style: none;
            margin-bottom: 0.25em;

            display: flex;
            align-items: center;
        }

        li:first-child{
            color: rgb(142, 142, 142);
        }

        li:last-child{
            font-weight: 600;
            color: rgba(0,55,107);

            a{
                text-decoration: none;
            }
        }
    }
}